

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    /* border: 2px solid red; */
    height: 100vh;
    background-image: url(background-img.jpg);
    background-position: center;
    background-size: cover;
}

.header-text {
    /* border: 1px solid blue; */
    margin: 0 auto;
    padding: 20px 0;
    width: 60%;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    margin-top: 30px;
}

.grid-item {
    /* border: 1px solid black; */
}

.value {
    font-size: 40px;
    font-weight: bolder;
    color: #5C6AC4;
}

.subtitle {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #83909B;
}

.blog-container {
    /* margin-top: 70px; */
    /* border: 1px solid red; */
    height: 70vh;
    width: 70%;
    margin: 150px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    justify-content: center;
    
}

.blog {
   
    /* border: 1px solid green; */
    text-align: left;
    border-radius: 10px;
    position: relative;

    
}

.blog-item {
    /* border: 1px solid blue; */
    height: 50%;
}

.blog-item-1 {

   
    
}

.blog-item-2 {
    position: absolute;
    top: 100px;
}


.blog-item-3 {
    position: absolute;
    top: 50px;
}

.blog-text {
    /* border: 1px solid purple; */
    background-color: white;
    height: 70%;
    border-radius: 5px 5px 0 0;
    padding: 40px 20px 0 20px;
    color: #83909B;
}

.blog-author {
    text-align: center;
    height: 30%;
    color: white;
    border-radius: 0 0 5px 5px;
    /* font-weight: bold; */
}

.blog-author-1 {
    background-color: #FB8B8A; 
}

.blog-author-2 {
    background-color: #5C6AC4;

}

.blog-author-3 {
    background-color: #47C1BF;

}