

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    /* border: 2px solid red; */
    height: 100vh;
    background-image: url(background-img.jpg);
    background-position: center;
    background-size: cover;
}

.header-text {
    /* border: 1px solid blue; */
    margin: 0 auto;
    padding: 20px 0;
    width: 60%;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}